body{margin: 0px;
    pad: 0px;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 20px;
}
.navbar{
    display: flex;
justify-content: space-around;}
.nav{
    display: flex;
    margin-top: 25px;
    gap: 40px;
}
li{
    list-style: none;
}
.new-container{margin-top: 20px;
    text-align: center;
}
.new-p{
    color: var(--Dark-03, #727272);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.new-btn{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 8px;
background: #FF900E;
padding: 20px;
border: none;
}
.new-img{
    width: 1100px;
height: 500px;
margin-top: 50px;
}

.feature-container{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    align-items: center;
}
.feature-img{margin-top: 30px;
    height: 200px;
    width: 300px;
}
.feature-text{
    margin-right:180px;
}
.feature-p{
    color: var(--Dark-03, #727272);
    text-align: start;
/* font-family: Work Sans; */
font-size: 13px;
font-style: normal;
font-weight: 400;

}
.love-container{margin-top: 190px;
    display: flex;
    justify-content: space-between;
}
.love-img{margin-top: 30px;
    width: 508px;
height: 800px;
position: relative;

}
.love-head{
   text-align: center;
}
.love-para{
    
    margin-left: 130px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 5px;
margin-top: 5px;
}
.love-p{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
margin-left: 50px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.year{
    position: absolute;
    border-radius: 8px;
background: #FF900E;
margin-top: -70px;
color: #FFF;
text-align: center;
padding: 10px;
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;

margin-left: -70px; /* 107.692% */
}
.love-some{margin-top: 40px;
    margin-left: 100px;
}
.some-para{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.customer{margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}
.customer-img{
    width: 30.221px;
height: 30.221px;
margin-left: 40px;
margin-right: 30px;
}
.customer-para{
    text-align: center;
}
.customer-head{padding: 13px;
    border-radius: 6px;
border: 1px solid #FF900E;
}
p{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.our-container{margin-top: 50px;
    text-align: center;
}
.sponsor{margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.sponsor-img{
    width: 100px;
}
footer{
    border-radius: 8px;
background: #FFF4E7;
width: 1000px;
height: 60px;
padding: 10px;
flex-shrink: 0;
margin-left: 100px;
margin-top: 100px;
}
.footer-p{
    color: var(--Dark-02, #424242);
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}